{% extends "base.html" %}

{% block title %}
Register - FPL Data Analyser
{% endblock title %}

{% block page_content %}

<div class="page-header">
    <h1>Register</h1>
</div>

<div class="login-box">
    <p>Already have an account? Log in here: <a href="/login">Login</a></p>

    <form method="POST" autocomplete="off">
        {% csrf_token %}
        
        {{registerform.as_p}}

        <input class="authbutton" type="submit" value="Register"/>
    </form>
</div>


{% endblock page_content %}
